@model prescribe.ViewModels.EpidemiologyVm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Epidemiology Viewer using GHG data</title>
</head>
<body>
    <div>

    </div>
</body>
</html>