@using System.Threading.Tasks
@using prescribe.ViewModels
@model prescribe.ViewModels.ProviderVm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>The Providers Patient List Editor</title>
</head>
<body>
<div>
      
</div>
</body>
</html>