@model prescribe.ViewModels.PatientVm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>The Patient Details</title>
</head>
<body>
<div>
      
</div>
</body>
</html>