@model prescribe.ViewModels.VisitVm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Individual Visit View and Editor</title>
</head>
<body>
    <div>

    </div>
</body>
</html>