@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<h2>Welcome to Prescribe</h2>
<ul>
    @for (var i = 0; i < (int) ViewData["NumTimes"]; i++)
    {
        //@ViewData = ViewData + " " + i;
        <li>@ViewData["Message"]</li>
    }
    @*@ViewData.Model.*@
</ul>