
@model prescribe.ViewModels.Epidemiology.EpidemViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Epidemiology";
}
<h2>@ViewData["Title"]</h2>

<body>
<div class="container">
    <form role="form">
        <div class="form-group">
            <label for="gen"></label>
            <input type="text" class="form-control" id="gen" placeholder="Enter gender"/>
            
        </div>
        <div class="form-group">
            <label for="pwd"></label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <div>
            <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                Loading state
            </button>

            @*<Button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            Single toggle
            </button>*@
        </div>
    </form>
</div>
</body>


<script>
  $('#myButton').on('click', function () {
      var $btn = $(this).button('loading');
    // business logic...
      $btn.button('reset');
  })
</script>
