
@model prescribe.ViewModels.Epidemiology.EpidemViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Epidemiology";
}

<h2>@ViewData["Title"]</h2>
<ul>
    @for(var i = 0; i<10; i++)
    {<li> @this.Model.IcDs</li>}
</ul>
<div class="container">
<div class="jumbotron">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
</div>
