
@model prescribe.ViewModels.Epidemiology.EpidemViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
        ViewData["Title"] = "Epidemiology";
    }

<h2>@ViewData["Title"]</h2>

<body>
<div class="container">
    <form role="form">
        <div class="form-group">
            <label for="gen"></label>
            <input class="dropdown" id="gen" placeholder="Enter gender" value=@Epidemiolgy.Genders.Female>
        </div>
        <div class="form-group">
            <label for="pwd"></label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <div class="button">
            <input type="submit" class="btn btn-info" value="Submit" id="submit">
        </div>
    </form>
</div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form#myForm').submit();
        $("submit").bind("click", function () {
            
        alert("The button was clicked.");
    });
});
    </script>

</body>



